version: '3.8'

services:
  mongo-database:
    networks:
      - micro-products
    image: mongo
    volumes:
      - mongodata:/data/db
    ports:
      - "27017:27017"

  products-api:
    build: products/
    networks:
      - micro-products
    ports:
      - "8080:8080"
    depends_on:
      - mongo-database
  
  prometheus:
    image: prom/prometheus
    volumes:
      - ./products/src/main/resources/:/etc/prometheus/
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
    ports:
      - 9090:9090
    networks:
      - micro-products
    depends_on:
      - products-api
    restart: always

  grafana:
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SERVER_PROTOCOL=http
      - GF_SERVER_HTTP_PORT=3000
    image: grafana/grafana
    depends_on:
      - prometheus

volumes:
  mongodata:
  prometheus_data: {}

networks:
  micro-products:
    driver: bridge